Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx,mjs,cjs}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.{m,c,}js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

docs(autocomplete, input, input-text): update pattern context for residing in a parent form
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(openClose): fix regression that caused the transition prop to monitor to be ignored
  packages/calcite-components/src/components/alert/alert.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/dropdown/dropdown.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/notice/notice.tsx
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/components/tooltip/tooltip.tsx
  packages/calcite-components/src/utils/openCloseComponent.spec.ts
  packages/calcite-components/src/utils/openCloseComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(tile): allow percentage inline-size on slotted content to be based on host (#11283)
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

rename openTransitionProp to openProp
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/utils/openCloseComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: remove unrelated jest-axe expect extensions (#11269)
  packages/calcite-components/src/tests/commonTests/defaults.ts
  packages/calcite-components/src/tests/commonTests/disabled.ts
  packages/calcite-components/src/tests/commonTests/floatingUI.ts
  packages/calcite-components/src/tests/commonTests/focusable.ts
  packages/calcite-components/src/tests/commonTests/formAssociated.ts
  packages/calcite-components/src/tests/commonTests/hidden.ts
  packages/calcite-components/src/tests/commonTests/labelable.ts
  packages/calcite-components/src/tests/commonTests/openClose.ts
  packages/calcite-components/src/tests/commonTests/reflects.ts
  packages/calcite-components/src/tests/commonTests/renders.ts
  packages/calcite-components/src/tests/commonTests/slots.ts
  packages/calcite-components/src/tests/commonTests/t9n.ts
  packages/calcite-components/src/tests/commonTests/themed.ts
  packages/calcite-components/src/tests/commonTests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: streamline icon name check to avoid "Argument list too long" error
  .husky/pre-commit
Due: none

fix invalid -f- matching error
  .husky/pre-commit
Due: none

fix(list-item): fix selection indicator placement in RTL
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

fix(combobox): fix accessibility when an item's heading or label changes
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Moved host rule per code review
  packages/calcite-components/src/components/slider/slider.scss
Due: prettier --write, stylelint --fix

add test coverage
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(list): stabilize test
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(list): skip unstable test
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(list): skip unstable test (#11290)
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test: enable new-headless mode
  packages/calcite-components/vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(combobox): skip unstable test
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(combobox): skip unstable test (#11296)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: fix icon-name pre-commit checks (#11287)
  .husky/pre-commit
Due: none

Update combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update story description to match test case
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(combobox): skip unstable tests (#11298)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: added icons
  packages/calcite-ui-icons/icons/utility-network-layer-16.svg
  packages/calcite-ui-icons/icons/utility-network-layer-24.svg
  packages/calcite-ui-icons/icons/utility-network-layer-32.svg
Due: none

feat: added tags
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

feat: updated tags
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/utility-network-layer-16.svg
Due: prettier --write

feat: launched ref page
  packages/calcite-ui-icons/icons/utility-network-layer-24.svg
  packages/calcite-ui-icons/icons/utility-network-layer-32.svg
Due: none

feat: control panel header action tokens sepratly
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

fix(action): reflect the icon property (#11282)
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/action/action.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(sort-handle): Fix dragging in Firefox (#11279)
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.scss
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

add test
  packages/calcite-components/src/components/combobox-item/combobox-item.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update themed test
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: fix windows error starting demos
  packages/calcite-components/package.json
Due: prettier --write

fix(list-item): fix selection indicator placement in RTL (#11288)
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build: take 4
  packages/calcite-components/package.json
Due: prettier --write

feat: add utility network layer (#11299)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/utility-network-layer-16.svg
  packages/calcite-ui-icons/icons/utility-network-layer-24.svg
  packages/calcite-ui-icons/icons/utility-network-layer-32.svg
Due: prettier --write

build: fix windows error starting demos (#11302)
  packages/calcite-components/package.json
Due: prettier --write

review fixes
  packages/calcite-components/src/components/combobox-item/combobox-item.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): fix accessibility when an item's heading or label changes (#11289)
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/components/combobox/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add tests
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/tooltip/tooltip.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Fixed spacing around hyphen of range label; reused getTextWidth; removed mention of slider in comment; moved definition of shadowRoot up
  packages/calcite-components/src/components/slider/slider.scss
  packages/calcite-components/src/components/slider/slider.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix
