Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

chore(utility-network-layer, crosshair): add font codepoints (#11336)
  packages/calcite-ui-icons/fantasticonrc.json
Due: prettier --write

chore: test formkit dnd
  package-lock.json
  packages/calcite-components/package.json
  packages/calcite-components/src/components/tile-group/tile-group.tsx
  packages/calcite-components/src/components/tile/tile.tsx
  packages/calcite-components/src/demos/tile-group.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

Refactored statement in test per code review
  packages/calcite-components/src/components/table/table.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Removed unnecessary test per review
  packages/calcite-components/src/components/table/table.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Renamed argument to el
  packages/calcite-components/src/utils/component.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(carousel): Ensure correct `autoplay` display and animation
  packages/calcite-components/src/components/carousel/carousel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Replaced conditional with use of isHidden
  packages/calcite-components/src/components/stepper-item/stepper-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Changed test to step through hidden element
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove unused prop and method
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove state from non-rendering props
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

allow providing scope of item updates
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

tidy up
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix typo
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

restore refreshSelectionDisplay()
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Fixed combobox test failure
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Fixed errors caused by hidden combobox item'
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

revisit item update logic
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(table): move workaround comment back to its usage
  packages/calcite-components/src/components/table/table.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox, input-time-zone): fix initial item selection delay (#11326)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(combobox): use async expect for non-throwing test case (#11332)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(actions): add icon leads notification for calcite-ui-icons requests (#11263)
  .github/scripts/notifyAboutIconRequest.js
  .github/workflows/issue-notifications.yml
Due: prettier --write, eslint --ext .js

chore: add ui icons package to enhancement template
  .github/ISSUE_TEMPLATE/enhancement.yml
Due: prettier --write

ci(actions): refine remove-issue-from-design-projects workflow (#11325)
  .github/scripts/removeIssueFromDesignProjects.js
  .github/workflows/remove-issue-from-design-projects.yml
Due: prettier --write, eslint --ext .js

chore(table): move workaround comment back to its usage (#11341)
  packages/calcite-components/src/components/table/table.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/carousel/carousel.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: add ui icons package to enhancement template (#11344)
  .github/ISSUE_TEMPLATE/enhancement.yml
Due: prettier --write

chore: resolve PR comments
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

fix(tree): render lines correctly in RTL direction. #11334
  packages/calcite-components/src/components/tree-item/tree-item.scss
  packages/calcite-components/src/components/tree/tree.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tree): fix regression in has-children logic
  packages/calcite-components/src/components/tree-item/tree-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

stories update
  packages/calcite-components/src/components/tree/tree.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add test
  packages/calcite-components/src/components/tree/tree.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Changed wording of comment and name of argument
  packages/calcite-components/src/components/combobox-item-group/combobox-item-group.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/table-row/table-row.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

Add test
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci: lint monorepo
  CONTRIBUTING.md
  packages/calcite-components/src/utils/loadable.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix

fix(action-pad): remove unncessary overflow css styling.
  packages/calcite-components/src/components/action-pad/action-pad.scss
Due: prettier --write, stylelint --fix

feat(panel): control panel header action tokens (#11300)
  packages/calcite-components/src/components/panel/panel.scss
Due: prettier --write, stylelint --fix

feat(button): add component tokens (#10358)
  packages/calcite-components/src/components/button/button.e2e.ts
  packages/calcite-components/src/components/button/button.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(date-picker): no longer disable min, max value month in select menu
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx,mjs,cjs})) or (any of: .github/scripts/*.{m,c,}js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx,mjs,cjs}
  eslint --ext .js: any of: .github/scripts/*.{m,c,}js
  markdownlint --fix: any of: *.md
