Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

chore(token transformers): clean up build scripts
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/src/buildTokens.ts
  packages/calcite-design-tokens/src/config/dev-summit/dark.ts
  packages/calcite-design-tokens/src/config/dev-summit/light.ts
  packages/calcite-design-tokens/src/config/survey123/dark.ts
  packages/calcite-design-tokens/src/config/survey123/light.ts
  packages/calcite-design-tokens/support/filter/index.ts
  packages/calcite-design-tokens/support/filter/registerFilters.ts
  packages/calcite-design-tokens/support/format/docs.ts
  packages/calcite-design-tokens/support/format/index.ts
  packages/calcite-design-tokens/support/format/javascript.ts
  packages/calcite-design-tokens/support/format/scss-mixins.ts
  packages/calcite-design-tokens/support/header/calcite-default.ts
  packages/calcite-design-tokens/support/header/calcite-deprecate.ts
  packages/calcite-design-tokens/support/header/index.ts
  packages/calcite-design-tokens/support/index.ts
  packages/calcite-design-tokens/support/transforms/group/calcite.ts
  packages/calcite-design-tokens/support/transforms/index.ts
  packages/calcite-design-tokens/support/transforms/name/includePlusMinus.ts
  packages/calcite-design-tokens/support/transforms/name/removeColorMode.ts
  packages/calcite-design-tokens/support/transforms/name/removeDefault.ts
  packages/calcite-design-tokens/support/transforms/name/removeTier.ts
  packages/calcite-design-tokens/support/transforms/value/cssShadow.ts
  packages/calcite-design-tokens/support/transforms/value/mathSum.ts
  packages/calcite-design-tokens/support/transforms/value/pxToRem.ts
  packages/calcite-design-tokens/support/transforms/value/unitlessBreakpointToPx.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
Due: prettier --write, stylelint --fix

feat(segmented-control, segmented-control-item): add component tokens (#11359)
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.e2e.ts
  packages/calcite-components/src/components/segmented-control-item/segmented-control-item.scss
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/segmented-control.ts
  packages/calcite-components/src/demos/segmented-control.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(inline-editable): add component tokens (#11357)
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/inline-editable.ts
  packages/calcite-components/src/demos/inline-editable.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

tidy up types
  packages/calcite-components/src/tests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

skip broken tests
  packages/calcite-components/src/components/accordion/accordion.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

skip proper tests
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(combobox): update internal state after custom value is added (#11405)
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/tests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test: fix empty findAll results (#11401)
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/src/components/accordion/accordion.e2e.ts
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-pad/action-pad.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/carousel/carousel.e2e.ts
  packages/calcite-components/src/components/checkbox/checkbox.e2e.ts
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
  packages/calcite-components/src/components/dropdown-group/dropdown-group.e2e.ts
  packages/calcite-components/src/components/dropdown/dropdown.e2e.ts
  packages/calcite-components/src/components/fab/fab.e2e.ts
  packages/calcite-components/src/components/flow-item/flow-item.e2e.ts
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-number/input-number.e2e.ts
  packages/calcite-components/src/components/input-text/input-text.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input/input.e2e.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/radio-button-group/radio-button-group.e2e.ts
  packages/calcite-components/src/components/radio-button/radio-button.e2e.ts
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/segmented-control/segmented-control.e2e.ts
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/slider/slider.e2e.ts
  packages/calcite-components/src/components/sortable-list/sortable-list.e2e.ts
  packages/calcite-components/src/components/split-button/split-button.e2e.ts
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-components/src/components/tabs/tabs.e2e.ts
  packages/calcite-components/src/components/tile-group/tile-group.e2e.ts
  packages/calcite-components/src/components/tip-manager/tip-manager.e2e.ts
  packages/calcite-components/src/components/tree-item/tree-item.e2e.ts
  packages/calcite-components/src/components/tree/tree.e2e.ts
  packages/calcite-components/src/tests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

debug screenshot tests
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/select/select.scss
Due: prettier --write, stylelint --fix

fix(list): drag event properties `newIndex` and `oldIndex` should only reflect list item indexes (#11402)
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
  packages/calcite-components/src/utils/sortableComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

dark mode current token fixed (temporarily a hexcode)
  packages/calcite-design-tokens/src/$metadata.json
  packages/calcite-design-tokens/src/$themes.json
  packages/calcite-design-tokens/src/core/shadow.json
  packages/calcite-design-tokens/src/semantic/color/calcite/dark.json
  packages/calcite-design-tokens/src/semantic/color/calcite/light.json
  packages/calcite-design-tokens/src/semantic/font.json
  packages/calcite-design-tokens/src/semantic/shadow.json
Due: prettier --write

refactor
  packages/calcite-components/src/components/select/select.scss
Due: prettier --write, stylelint --fix

add demo
  packages/calcite-components/src/demos/date-picker.html
Due: prettier --write

feedback changes
  packages/calcite-components-react/README.md
  packages/calcite-components/conventions/Documentation.md
  packages/calcite-components/conventions/Internationalization.md
  packages/calcite-components/conventions/README.md
  packages/calcite-components/conventions/Styling.md
  packages/calcite-components/conventions/Testing.md
  packages/eslint-plugin-calcite-components/README.md
  packages/eslint-plugin-calcite-components/docs/no-dynamic-createelement.md
  packages/eslint-plugin-calcite-components/docs/strict-boolean-attributes.md
Due: prettier --write, markdownlint --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

review cleanup
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(shell-panel): Fix visual issues in `displayMode="float-all"`
  packages/calcite-components/src/components/shell-panel/shell-panel.scss
  packages/calcite-components/src/demos/shell-panel.html
Due: prettier --write, stylelint --fix

Clean up
  packages/calcite-components/src/demos/shell-panel.html
Due: prettier --write

Clean up
  packages/calcite-components/src/components/shell/shell.stories.ts
  packages/calcite-components/src/demos/shell-panel.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

Clean up
  packages/calcite-components/src/components/shell/shell.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

added medium-saturation core tokens
  packages/calcite-design-tokens/src/core/color.json
Due: prettier --write

fix(form): add ariaLabel to hidden form input.
  packages/calcite-components/src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(form): add aria-hidden attribute to hidden form input
  packages/calcite-components/src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(tokens): fix build
  packages/calcite-design-tokens/src/config/calcite/dark.ts
  packages/calcite-design-tokens/src/config/calcite/light.ts
  packages/calcite-design-tokens/src/config/semantic.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add test for autocomplete
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

use property
  packages/calcite-components/src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

add spec test
  packages/calcite-components/src/tests/commonTests/formAssociated.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ordering
  packages/calcite-components/src/tests/commonTests/formAssociated.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/tests/commonTests/formAssociated.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(tokens): simplify build
  packages/calcite-design-tokens/src/config/calcite/dark.ts
  packages/calcite-design-tokens/src/config/calcite/light.ts
  packages/calcite-design-tokens/src/config/semantic.ts
  packages/calcite-design-tokens/support/transforms/index.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#11409)
  package-lock.json
Due: prettier --write

fix(form): add ariaHidden property to the hidden form input (#11418)
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/tests/commonTests/formAssociated.ts
  packages/calcite-components/src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(test-utils): add more context to getTag error message
  packages/calcite-components/src/tests/commonTests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor and cleanup
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/utils/focusTrapComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(test-utils): add more context to getTag error message (#11422)
  packages/calcite-components/src/tests/commonTests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

consistency with focusTrapDisabled and Override
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/utils/focusTrapComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx,mjs,cjs})) or (any of: .github/scripts/*.{m,c,}js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx,mjs,cjs}
  eslint --ext .js: any of: .github/scripts/*.{m,c,}js
  markdownlint --fix: any of: *.md
