Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx,mjs,cjs}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.{m,c,}js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

feat(stepper-item): update component's active state background color. (#10475)
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
Due: prettier --write, stylelint --fix

refactor: use `requestAnimationFrame` to replace `readTask` (#10432)
  packages/calcite-components/src/components/stepper/stepper.tsx
  packages/calcite-components/src/components/tab-nav/tab-nav.tsx
  packages/calcite-components/src/utils/openCloseComponent.spec.ts
  packages/calcite-components/src/utils/openCloseComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: remove commented-out code (#10478)
  packages/calcite-components/src/custom-theme/accordion.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(sort-handle): add messages (#10474)
  packages/calcite-components/src/components/sort-handle/assets/sort-handle/t9n/messages.json
  packages/calcite-components/src/components/sort-handle/assets/sort-handle/t9n/messages_en.json
  t9nmanifest.txt
Due: prettier --write

feat(accordion-item): stretch slotted actions to fill its height (#9250)
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/components/accordion/accordion.stories.ts
  packages/calcite-components/src/demos/accordion.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(dialog, modal, popover, input-date-picker, input-time-picker, sheet): support stacked component sequential closing with escape (#9231)
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
  packages/calcite-components/src/components/modal/modal.e2e.ts
  packages/calcite-components/src/components/modal/modal.tsx
  packages/calcite-components/src/components/popover/popover.e2e.ts
  packages/calcite-components/src/components/popover/popover.tsx
  packages/calcite-components/src/components/sheet/sheet.e2e.ts
  packages/calcite-components/src/components/sheet/sheet.tsx
  packages/calcite-components/src/tests/stackedFocusTrap.e2e.ts
  packages/calcite-components/src/utils/focusTrapComponent.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: add cssrem VSCode extension recommendation (#10300)
  .vscode/extensions.json
Due: prettier --write

docs(shell-center-row): add logger + component deprecation context (#10507)
  packages/calcite-components/src/components/shell-center-row/shell-center-row.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: tidy up custom theme story (#10488)
  packages/calcite-components/src/custom-theme.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(stepper-item): update component's active state background color (#10487)
  packages/calcite-components/src/components/stepper-item/stepper-item.scss
Due: prettier --write, stylelint --fix

feat(pagination): enhance component's interactive states (#10485)
  packages/calcite-components/src/components/pagination/pagination.scss
Due: prettier --write, stylelint --fix

feat: add portal-other, replica sync enable (#10517)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/portal-other-16.svg
  packages/calcite-ui-icons/icons/portal-other-24.svg
  packages/calcite-ui-icons/icons/portal-other-32.svg
  packages/calcite-ui-icons/icons/replica-sync-enable-16.svg
  packages/calcite-ui-icons/icons/replica-sync-enable-24.svg
  packages/calcite-ui-icons/icons/replica-sync-enable-32.svg
Due: prettier --write

feat(input,input-text,text-area): support `spellcheck` property (#10489)
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
  packages/calcite-components/src/components/text-area/text-area.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(pagination): remove gap at start and end of component. (#10523)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/components/pagination/pagination.tsx
  packages/calcite-components/src/components/pagination/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build: update browserslist db (#10392)
  package-lock.json
Due: prettier --write

refactor(list): use roles instead of table elements (#10501)
  packages/calcite-components/src/components/list-item-group/list-item-group.tsx
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/resources.ts
  packages/calcite-components/src/components/list/list.scss
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

ci(husky): fix pre-push tty issue (#10527)
  .husky/pre-push
Due: none

docs: update component READMEs (#10393)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/accordion-item/readme.md
  packages/calcite-components/src/components/action-bar/readme.md
  packages/calcite-components/src/components/action-group/readme.md
  packages/calcite-components/src/components/action-pad/readme.md
  packages/calcite-components/src/components/action/readme.md
  packages/calcite-components/src/components/alert/readme.md
  packages/calcite-components/src/components/avatar/readme.md
  packages/calcite-components/src/components/block/readme.md
  packages/calcite-components/src/components/card-group/readme.md
  packages/calcite-components/src/components/card/readme.md
  packages/calcite-components/src/components/checkbox/readme.md
  packages/calcite-components/src/components/chip/readme.md
  packages/calcite-components/src/components/color-picker-hex-input/readme.md
  packages/calcite-components/src/components/dialog/readme.md
  packages/calcite-components/src/components/icon/readme.md
  packages/calcite-components/src/components/list-item-group/readme.md
  packages/calcite-components/src/components/list-item/readme.md
  packages/calcite-components/src/components/panel/readme.md
  packages/calcite-components/src/components/popover/readme.md
  packages/calcite-components/src/components/progress/readme.md
  packages/calcite-components/src/components/radio-button/readme.md
  packages/calcite-components/src/components/shell-center-row/readme.md
  packages/calcite-components/src/components/text-area/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix

chore: release main (#10530)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/readme.md
Due: prettier --write, markdownlint --fix

build: update browserslist db (#10533)
  package-lock.json
Due: prettier --write

feat: add drag resize vertical and drag resize horizontal (#10553)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/drag-resize-horizontal-16.svg
  packages/calcite-ui-icons/icons/drag-resize-horizontal-24.svg
  packages/calcite-ui-icons/icons/drag-resize-horizontal-32.svg
  packages/calcite-ui-icons/icons/drag-resize-vertical-16.svg
  packages/calcite-ui-icons/icons/drag-resize-vertical-24.svg
  packages/calcite-ui-icons/icons/drag-resize-vertical-32.svg
Due: prettier --write

build: update browserslist db (#10548)
  package-lock.json
Due: prettier --write

chore: fix code scanning alert no. 48: DOM text reinterpreted as HTML (#10551)
  packages/calcite-ui-icons/docs/app.js
Due: none

chore: fix code scanning alert no. 47: DOM text reinterpreted as HTML (#10552)
  packages/calcite-ui-icons/docs/app.js
Due: none

refactor(tooltip): no longer use capture events. (#9839)
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(shell-center-row): ensure deprecation warning doesn’t show when using standalone `shell` or `shell-panel` (#10561)
  packages/calcite-components/src/components/shell-center-row/shell-center-row.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(list, list-item): add non-interactive option to remove hover/pointer changes. (#10473)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/interfaces.ts
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(inline-editable): add tooltips for controls (#10538)
  packages/calcite-components/src/components/inline-editable/assets/inline-editable/t9n/messages.json
  packages/calcite-components/src/components/inline-editable/assets/inline-editable/t9n/messages_en.json
  packages/calcite-components/src/components/inline-editable/inline-editable.e2e.ts
  packages/calcite-components/src/components/inline-editable/inline-editable.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix: updated web-adapter name (#10581)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/web-adapter-16.svg
  packages/calcite-ui-icons/icons/web-adapter-24.svg
  packages/calcite-ui-icons/icons/web-adapter-32.svg
Due: prettier --write

feat(input-date-picker, date-picker): improve date picking experience (#8402)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/date-picker-day/date-picker-day.scss
  packages/calcite-components/src/components/date-picker-day/date-picker-day.tsx
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.e2e.ts
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.scss
  packages/calcite-components/src/components/date-picker-month-header/date-picker-month-header.tsx
  packages/calcite-components/src/components/date-picker-month-header/resources.ts
  packages/calcite-components/src/components/date-picker-month/date-picker-month.scss
  packages/calcite-components/src/components/date-picker-month/date-picker-month.tsx
  packages/calcite-components/src/components/date-picker-month/resources.ts
  packages/calcite-components/src/components/date-picker/date-picker.e2e.ts
  packages/calcite-components/src/components/date-picker/date-picker.scss
  packages/calcite-components/src/components/date-picker/date-picker.stories.ts
  packages/calcite-components/src/components/date-picker/date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.e2e.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.scss
  packages/calcite-components/src/components/input-date-picker/input-date-picker.stories.ts
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-date-picker/resources.ts
  packages/calcite-components/src/components/input-text/input-text.scss
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/utils/date.spec.ts
  packages/calcite-components/src/utils/date.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat: add buffer point, buffer polygon, buffer polyline, contour, offset (#10594)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/buffer-point-16.svg
  packages/calcite-ui-icons/icons/buffer-point-24.svg
  packages/calcite-ui-icons/icons/buffer-point-32.svg
  packages/calcite-ui-icons/icons/buffer-polygon-16.svg
  packages/calcite-ui-icons/icons/buffer-polygon-24.svg
  packages/calcite-ui-icons/icons/buffer-polygon-32.svg
  packages/calcite-ui-icons/icons/buffer-polyline-16.svg
  packages/calcite-ui-icons/icons/buffer-polyline-24.svg
  packages/calcite-ui-icons/icons/buffer-polyline-32.svg
  packages/calcite-ui-icons/icons/contour-16.svg
  packages/calcite-ui-icons/icons/contour-24.svg
  packages/calcite-ui-icons/icons/contour-32.svg
  packages/calcite-ui-icons/icons/offset-16.svg
  packages/calcite-ui-icons/icons/offset-24.svg
  packages/calcite-ui-icons/icons/offset-32.svg
Due: prettier --write

chore: release main (#10597)
  .release-please-manifest.json
  examples/components/angular/package.json
  examples/components/preact/package.json
  examples/components/react/package.json
  examples/components/rollup/package.json
  examples/components/vite/package.json
  examples/components/vue/package.json
  examples/components/web-dev-server/package.json
  examples/components/webpack/package.json
  packages/calcite-components-angular/projects/component-library/CHANGELOG.md
  packages/calcite-components-react/CHANGELOG.md
  packages/calcite-components/CHANGELOG.md
  packages/calcite-components/readme.md
Due: prettier --write, markdownlint --fix

ci: add calcite-ui-icons label to relevant package PRs (#10590)
  .github/scripts/iconTeamDiffCheck.js
  .github/scripts/support/resources.js
Due: prettier --write, eslint --ext .js

ci(chromatic): build storybook even when skipping snapshots (#10589)
  .github/workflows/chromatic.yml
Due: prettier --write

docs: update component READMEs (#10600)
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/action/readme.md
  packages/calcite-components/src/components/date-picker-day/readme.md
  packages/calcite-components/src/components/date-picker-month-header/readme.md
  packages/calcite-components/src/components/date-picker-month/readme.md
  packages/calcite-components/src/components/date-picker/readme.md
  packages/calcite-components/src/components/icon/readme.md
  packages/calcite-components/src/components/input-date-picker/readme.md
  packages/calcite-components/src/components/list/readme.md
  packages/calcite-components/src/components/option/readme.md
  packages/calcite-components/src/components/select/readme.md
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix

feat(tile): add design tokens (#10476)
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/src/components.d.ts
  packages/calcite-components/src/components/tile/tile.e2e.ts
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/tile.ts
  packages/calcite-components/src/demos/tile-group.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

deprecate: deprecate web-adaptor in favor of web-adapter (#10598)
  packages/calcite-ui-icons/icons/web-adaptor-16.svg
  packages/calcite-ui-icons/icons/web-adaptor-24.svg
  packages/calcite-ui-icons/icons/web-adaptor-32.svg
Due: none

chore(input-time-zone): rename t9n test for consistency (#10611)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test: ensure `skipAnimation` calls take place after content is set (#10615)
  packages/calcite-components/src/components/alert/alert.e2e.ts
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/modal/modal.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(input-time-picker): wait for changes after typing value (#10623)
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix
