Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

chore: spelling
  packages/calcite-components/src/tests/commonTests/themed.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: remove change handler
  packages/calcite-components/src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

perf(combobox): fix initialization performance regression
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input): update files property on input event when type="file" (#11262)
  packages/calcite-components/src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: cleanup
  CODE_OF_CONDUCT.md
  package-lock.json
  packages/calcite-components/src/components/combobox/combobox.tsx
  packages/calcite-components/src/utils/text.tsx
  packages/calcite-components/support/generateSupportedBrowsersJSON.ts
  packages/calcite-design-tokens/src/$config.ts
  packages/calcite-design-tokens/support/run.ts
  packages/calcite-design-tokens/support/token-transformer/helpers/createCalciteTokenFiles.spec.ts
  packages/calcite-design-tokens/support/token-transformer/registerCalciteTransformers.ts
  packages/calcite-design-tokens/support/token-transformer/sd-run.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/css.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/docs.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/javascript.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/scss.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/formatTokens.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/getReferenceFromValue.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/handleBreakpoint.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/formatter/utils/handleStringValue.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/parser/calcite/index.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/parser/utils/expandComposites.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/attributes/attributePlatformName.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameCamelCase.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameKebabCase.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSpacePath.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/utils.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueAlignFontWeightAndStyle.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueColorCss.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueFontFamilyFallbacks.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueToREM.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/value/valueToUnitless.ts
  packages/calcite-design-tokens/support/types/styleDictionary/formatterArguments.ts
  packages/calcite-design-tokens/support/types/styleDictionary/options.ts
  packages/calcite-design-tokens/support/types/styleDictionary/registerFunctions.ts
  packages/calcite-design-tokens/support/types/tokenStudio/designTokenTypes.ts
  packages/calcite-design-tokens/support/types/tokenStudio/expandOptions.ts
  packages/calcite-design-tokens/support/types/tokenStudio/fontWeight.ts
  packages/calcite-design-tokens/support/types/tokenTypes/colorScheme.ts
  packages/calcite-design-tokens/support/types/tokenTypes/typography.ts
  support/dictionaries/dict-calcite-design-system.txt
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix

feat(navigation-logo): enable interactive states only when href is specified (#11202)
  packages/calcite-components/src/components/navigation-logo/navigation-logo.e2e.ts
  packages/calcite-components/src/components/navigation-logo/navigation-logo.scss
  packages/calcite-components/src/components/navigation-logo/navigation-logo.tsx
  packages/calcite-components/src/components/navigation-logo/resources.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

perf(combobox): fix initialization performance regression (#11265)
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox/combobox.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: simplify version placeholder replacement
  package-lock.json
  package.json
  packages/calcite-components/src/utils/config.spec.ts
  packages/calcite-components/src/utils/config.ts
  packages/calcite-components/vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add missing .d.ts file for vitest env variables
  packages/calcite-components/vite-env.d.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test: preload all icons for chromatic screenshot tests
  packages/calcite-components/src/components/icon/icon.tsx
  packages/calcite-components/vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

set dev mode for screenshot test build
  packages/calcite-components/package.json
  packages/calcite-components/src/components/icon/icon.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor: tidy up theme tests (#11251)
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/menu-item/menu-item.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Use correct mode value
  packages/calcite-components/src/components/icon/icon.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: remove unrelated jest-axe expect extensions
  packages/calcite-components/src/tests/commonTests/defaults.ts
  packages/calcite-components/src/tests/commonTests/disabled.ts
  packages/calcite-components/src/tests/commonTests/floatingUI.ts
  packages/calcite-components/src/tests/commonTests/focusable.ts
  packages/calcite-components/src/tests/commonTests/formAssociated.ts
  packages/calcite-components/src/tests/commonTests/hidden.ts
  packages/calcite-components/src/tests/commonTests/labelable.ts
  packages/calcite-components/src/tests/commonTests/openClose.ts
  packages/calcite-components/src/tests/commonTests/reflects.ts
  packages/calcite-components/src/tests/commonTests/renders.ts
  packages/calcite-components/src/tests/commonTests/slots.ts
  packages/calcite-components/src/tests/commonTests/t9n.ts
  packages/calcite-components/src/tests/commonTests/themed.ts
  packages/calcite-components/src/tests/commonTests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: replace jest with vitest
  .renovaterc.json
  .vscode/launch.json
  package-lock.json
  package.json
  packages/calcite-components/conventions/Testing.md
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/package.json
  packages/calcite-components/src/lumina.ts
  packages/calcite-components/src/tests/commonTests/.eslintrc.cjs
  packages/calcite-design-tokens/eslint.config.mjs
  packages/calcite-design-tokens/jest.config.json
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/support/test/utils/registerStyleDictionaryFunction.ts
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/tests/index.spec.ts
  packages/calcite-design-tokens/support/token-transformer/helpers/createCalciteTokenFiles.spec.ts
  packages/calcite-design-tokens/support/token-transformer/helpers/getFiles.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/filter/filterSource.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameCamelCase.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameJoinPath.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameKebabCase.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSpacePath.spec.ts
  packages/eslint-plugin-calcite-components/jest.config.ts
  packages/eslint-plugin-calcite-components/package.json
  packages/eslint-plugin-calcite-components/src/utils/rule-tester.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-events/ban-events.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/no-dynamic-createelement/no-dynamic-createelement.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/strict-boolean-attributes/strict-boolean-attributes.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix

build: simplify version placeholder replacement (#11266)
  package-lock.json
  package.json
  packages/calcite-components/src/utils/config.spec.ts
  packages/calcite-components/src/utils/config.ts
  packages/calcite-components/vite-env.d.ts
  packages/calcite-components/vite.config.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

review feedback
  .github/scripts/notifyAboutIconRequest.js
  .github/workflows/issue-notifications.yml
Due: prettier --write, eslint --ext .js

fix(button): remove width token and fix transparent buttons
  packages/calcite-components/src/components/button/button.scss
Due: prettier --write, stylelint --fix

chore: cleanup
  packages/calcite-components/eslint.config.mjs
  packages/calcite-design-tokens/eslint.config.mjs
  packages/calcite-design-tokens/support/tests/index.spec.ts
  packages/calcite-design-tokens/support/token-transformer/helpers/createCalciteTokenFiles.spec.ts
  packages/calcite-design-tokens/support/token-transformer/helpers/getFiles.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

review feedback
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

fix(tooltip, popover): ignore prevented events. #11244
  packages/calcite-components/src/components/popover/PopoverManager.ts
  packages/calcite-components/src/components/tooltip/TooltipManager.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(sort-handle): Fix dragging in Firefox. #11220
  packages/calcite-components/src/components/sort-handle/resources.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.scss
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore: replace jest with vitest (#11270)
  .renovaterc.json
  .vscode/launch.json
  package-lock.json
  package.json
  packages/calcite-components/conventions/Testing.md
  packages/calcite-components/package.json
  packages/calcite-components/src/lumina.ts
  packages/calcite-components/src/tests/commonTests/.eslintrc.cjs
  packages/calcite-design-tokens/eslint.config.mjs
  packages/calcite-design-tokens/jest.config.json
  packages/calcite-design-tokens/package.json
  packages/calcite-design-tokens/support/test/utils/registerStyleDictionaryFunction.ts
  packages/calcite-design-tokens/support/tests/__snapshots__/index.spec.ts.snap
  packages/calcite-design-tokens/support/tests/index.spec.ts
  packages/calcite-design-tokens/support/token-transformer/helpers/createCalciteTokenFiles.spec.ts
  packages/calcite-design-tokens/support/token-transformer/helpers/getFiles.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/filter/filterSource.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameCamelCase.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameJoinPath.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameKebabCase.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSet.spec.ts
  packages/calcite-design-tokens/support/token-transformer/styleDictionary/transformer/name/nameSpacePath.spec.ts
  packages/eslint-plugin-calcite-components/jest.config.ts
  packages/eslint-plugin-calcite-components/package.json
  packages/eslint-plugin-calcite-components/src/utils/rule-tester.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/ban-events/ban-events.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/no-dynamic-createelement/no-dynamic-createelement.spec.ts
  packages/eslint-plugin-calcite-components/tests/lib/rules/strict-boolean-attributes/strict-boolean-attributes.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix, markdownlint --fix

docs(contributing): provide visual changes background (#11264)
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

feat(tokenValuesMap): create export
  packages/calcite-components/src/tests/utils/cssTokenValues.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update action to handle dragHandle
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/action/action.tsx
  packages/calcite-components/src/components/sort-handle/resources.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.e2e.ts
  packages/calcite-components/src/components/sort-handle/sort-handle.scss
  packages/calcite-components/src/components/sort-handle/sort-handle.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/action/action.scss
  packages/calcite-components/src/components/sort-handle/sort-handle.scss
Due: prettier --write, stylelint --fix

test(combobox): avoid emitting change event for value property update
  packages/calcite-components/src/components/combobox/combobox.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: remove unrelated jest-axe expect extensions (#11269)
  packages/calcite-components/src/tests/commonTests/defaults.ts
  packages/calcite-components/src/tests/commonTests/disabled.ts
  packages/calcite-components/src/tests/commonTests/floatingUI.ts
  packages/calcite-components/src/tests/commonTests/focusable.ts
  packages/calcite-components/src/tests/commonTests/formAssociated.ts
  packages/calcite-components/src/tests/commonTests/hidden.ts
  packages/calcite-components/src/tests/commonTests/labelable.ts
  packages/calcite-components/src/tests/commonTests/openClose.ts
  packages/calcite-components/src/tests/commonTests/reflects.ts
  packages/calcite-components/src/tests/commonTests/renders.ts
  packages/calcite-components/src/tests/commonTests/slots.ts
  packages/calcite-components/src/tests/commonTests/t9n.ts
  packages/calcite-components/src/tests/commonTests/themed.ts
  packages/calcite-components/src/tests/commonTests/utils.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(pagination): update css token names
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(pagination): update css token names
  packages/calcite-components/src/custom-theme/pagination.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action): reflect the icon property #11092
  packages/calcite-components/src/components/action/action.e2e.ts
  packages/calcite-components/src/components/action/action.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(pagination): add component tokens (#11157)
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/pagination.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix(tile): allow percentage inline-size on slotted content to be based on host
  packages/calcite-components/src/components/tile/tile.scss
  packages/calcite-components/src/components/tile/tile.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

build: auto-delete js files created by 'npm start'
  packages/calcite-components/package.json
Due: prettier --write

chore: cleanup
  packages/calcite-components/package.json
Due: prettier --write

build: update browserslist db (#11272)
  package-lock.json
Due: prettier --write

build: auto-clean js files created by 'npm start' (#11284)
  packages/calcite-components/package.json
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx,mjs,cjs})) or (any of: .github/scripts/*.{m,c,}js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx,mjs,cjs}
  eslint --ext .js: any of: .github/scripts/*.{m,c,}js
  markdownlint --fix: any of: *.md
