Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx,mjs,cjs}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.{m,c,}js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

removing the rest of the es-mx test conditions, they no longer seem to apply, which is great
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

text-area.t9n.en message rewording
  packages/calcite-components/src/components/text-area/assets/t9n/text-area.t9n.en.json
Due: prettier --write

refactor
  packages/calcite-components/src/components/tree-item/tree-item.scss
  packages/calcite-components/src/components/tree/tree.stories.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

revert unintended package-lock changes
  package-lock.json
Due: prettier --write

review fixes
  packages/calcite-components/src/components/sheet/sheet.scss
Due: prettier --write, stylelint --fix

chore(text-area): add new string for when character length is tooShort
  packages/calcite-components/src/components/text-area/assets/t9n/messages.json
Due: prettier --write

message for text-area.t9n.en
  packages/calcite-components/src/components/text-area/assets/t9n/text-area.t9n.en.json
Due: prettier --write

use focus-normal.
  packages/calcite-components/src/components/sheet/sheet.scss
Due: prettier --write, stylelint --fix

revert util changes
  packages/calcite-components/src/components/block/block.tsx
  packages/calcite-components/src/utils/component.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(block): add warning message when both heading & label are empty (#10887)
  packages/calcite-components/src/components/block/block.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

build: update browserslist db (#11008)
  package-lock.json
Due: prettier --write

feat(list): add filterLabel property (#11002)
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(list-item): set displayMode on slotted list (#10965)
  packages/calcite-components/src/components/list-item/list-item.e2e.ts
  packages/calcite-components/src/components/list-item/list-item.tsx
  packages/calcite-components/src/components/list-item/utils.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feedback changes
  packages/calcite-components/src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat: relocate font files into main folder
  packages/calcite-ui-icons/font/calcite-ui-icons-16.json
  packages/calcite-ui-icons/font/calcite-ui-icons-16.ttf
  packages/calcite-ui-icons/font/calcite-ui-icons-24.json
  packages/calcite-ui-icons/font/calcite-ui-icons-24.ttf
  packages/calcite-ui-icons/font/calcite-ui-icons-32.json
  packages/calcite-ui-icons/font/calcite-ui-icons-32.ttf
Due: prettier --write

feat: rename fonts folder
  packages/calcite-ui-icons/fonts/calcite-ui-icons-16.json
  packages/calcite-ui-icons/fonts/calcite-ui-icons-16.ttf
  packages/calcite-ui-icons/fonts/calcite-ui-icons-24.json
  packages/calcite-ui-icons/fonts/calcite-ui-icons-24.ttf
  packages/calcite-ui-icons/fonts/calcite-ui-icons-32.json
  packages/calcite-ui-icons/fonts/calcite-ui-icons-32.ttf
  packages/calcite-ui-icons/fonts/calcite-ui-icons-codepoints.json
Due: prettier --write

fixing test to assert correct danish time value when lang changes
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(list-item): update storybook tests
  packages/calcite-components/src/components/list/list.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

rename job + add regex to check for existing omit comment
  .github/scripts/omitPrFromChangelog.js
  .github/workflows/omit-pr-from-changelog.yml
Due: prettier --write, eslint --ext .js

docs: deprecate textarea type for input component (#11005)
  packages/calcite-components/src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action): active syles present with transparent appearance
  packages/calcite-components/src/components/action/action.scss
Due: prettier --write, stylelint --fix

chore(themed): add expectedValue prop
  packages/calcite-components/src/tests/commonTests/themed.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(action): add themed tests for appearance=transparent
  packages/calcite-components/src/components/action/action.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(accordion-item): split header and content padding
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
Due: prettier --write, stylelint --fix

feat(block): add component tokens
  packages/calcite-components/src/components/block/block.scss
Due: prettier --write, stylelint --fix

rename text color to color
  packages/calcite-components/src/components/block/block.scss
Due: prettier --write, stylelint --fix

WIP adding tokens
  packages/calcite-components/src/components/block/block.scss
Due: prettier --write, stylelint --fix

ci(actions): add action to omit PR from changelog (#10984)
  .github/scripts/omitPrFromChangelog.js
  .github/scripts/support/resources.js
  .github/workflows/omit-pr-from-changelog.yml
Due: prettier --write, eslint --ext .js

feat: added tags
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

feedback changes
  packages/calcite-components/src/components/loader/loader.e2e.ts
  packages/calcite-components/src/components/loader/loader.scss
  packages/calcite-components/src/demos/loader.html
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(list-item): update storybook and demos page
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/demos/list.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(examples): remove package-lock files to prevent dependabot updates
  examples/components/angular/.gitignore
  examples/components/angular/package-lock.json
  examples/components/preact/.gitignore
  examples/components/preact/package-lock.json
  examples/components/react/.gitignore
  examples/components/react/package-lock.json
  examples/components/rollup/.gitignore
  examples/components/rollup/package-lock.json
  examples/components/vite/.gitignore
  examples/components/vite/package-lock.json
  examples/components/vue/.gitignore
  examples/components/vue/package-lock.json
  examples/components/web-dev-server/.gitignore
  examples/components/web-dev-server/package-lock.json
  examples/components/webpack/.gitignore
  examples/components/webpack/package-lock.json
Due: prettier --write

chore: move package-lock ignore to parent directory
  examples/components/.gitignore
  examples/components/angular/.gitignore
  examples/components/preact/.gitignore
  examples/components/react/.gitignore
  examples/components/rollup/.gitignore
  examples/components/vite/.gitignore
  examples/components/vue/.gitignore
  examples/components/web-dev-server/.gitignore
  examples/components/webpack/.gitignore
Due: none

add e2e tests, remove space tokens
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix
