Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

feat(buildTokens): add CSS token platform to token build
  packages/calcite-design-tokens/support/buildTokens.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(package-lock): update dev dependencies
  package-lock.json
Due: prettier --write

fix(flow): set focus on the selected flow item (#11127)
  packages/calcite-components/src/components/flow/flow.e2e.ts
  packages/calcite-components/src/components/flow/flow.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

test(accordion-item): add icon props for vrt testing
  packages/calcite-components/src/custom-theme/accordion-item.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(accordion): update last accordion item heading for custom theme tests
  packages/calcite-components/src/custom-theme/accordion.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(accordion-item): update token naming schema (#11070)
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
  packages/calcite-components/src/custom-theme/accordion-item.ts
  packages/calcite-components/src/custom-theme/accordion.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

chore(input): respond to PR comments
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

feat(table-advanced): add table styling
  packages/calcite-components/src/components/table-advanced/table-advanced.scss
  packages/calcite-components/src/components/table-advanced/table-advanced.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: add jsdoc see tag consistency
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/color-picker-swatch/color-picker-swatch.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/functional/FloatingArrow.tsx
  packages/calcite-components/src/components/icon/icon.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/link/link.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/tests/utils.ts
  packages/calcite-components/src/utils/config.ts
  packages/calcite-components/src/utils/globalScript.ts
  vitest.workspace.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-menu): fix toggle logic when `action-menu` is reconnected
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

docs(input-time-zone): add setFocus method description
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(action-menu): fix toggle logic when `action-menu` is reconnected (#11139)
  packages/calcite-components/src/components/action-menu/action-menu.e2e.ts
  packages/calcite-components/src/components/action-menu/action-menu.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(block-section): add component tokens (#11032)
  packages/calcite-components/src/components/block-section/block-section.e2e.ts
  packages/calcite-components/src/components/block-section/block-section.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/block-section.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(input-time-zone): add setFocus method description (#11141)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

rename border-color to accent
  packages/calcite-components/src/components/menu-item/menu-item.scss
Due: prettier --write, stylelint --fix

adding xxs inline-end padding to small scale drag-container only when selection-mode is none or appearance is border. Adding additional demos to show the extra configurations needed for this update.
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/demos/list.html
Due: prettier --write, stylelint --fix

feat(rating): add component tokens
  packages/calcite-components/src/components/rating/rating.e2e.ts
  packages/calcite-components/src/components/rating/rating.scss
  packages/calcite-components/src/components/rating/resources.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/rating.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs: add jsdoc `@see` tag consistency (#11140)
  packages/calcite-components/src/components/button/button.tsx
  packages/calcite-components/src/components/color-picker-swatch/color-picker-swatch.tsx
  packages/calcite-components/src/components/color-picker/color-picker.tsx
  packages/calcite-components/src/components/dialog/dialog.tsx
  packages/calcite-components/src/components/functional/FloatingArrow.tsx
  packages/calcite-components/src/components/icon/icon.tsx
  packages/calcite-components/src/components/input-date-picker/input-date-picker.tsx
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
  packages/calcite-components/src/components/link/link.tsx
  packages/calcite-components/src/components/select/select.tsx
  packages/calcite-components/src/components/slider/slider.tsx
  packages/calcite-components/src/components/tab-title/tab-title.tsx
  packages/calcite-components/src/tests/utils.ts
  packages/calcite-components/src/utils/config.ts
  packages/calcite-components/src/utils/globalScript.ts
  vitest.workspace.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add tests
  packages/calcite-components/src/components/menu-item/interfaces.ts
  packages/calcite-components/src/components/menu-item/menu-item.e2e.ts
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/menu-item/menu-item.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

docs(accordion-item): update icon token descriptions
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
Due: prettier --write, stylelint --fix

fix(autocomplete): add scrollContentTo method and automatically scroll when navigating items via keyboard
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/demos/autocomplete.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(autocomplete): highlight text matching the inputValue #11154
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.scss
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.tsx
  packages/calcite-components/src/components/autocomplete-item-group/resources.ts
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.scss
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/calcite-components/src/components/autocomplete-item/resources.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.tsx
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix test
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add story
  packages/calcite-components/src/components/autocomplete/autocomplete.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

add chromatic test
  packages/calcite-components/src/components/menu-item/menu-item.e2e.ts
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/menu-item.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

medium scale: removing drag-handle left padding in both flat and nested, adding inline-end xxs padding for flat, drag-handle in both none and border selection-appearance
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

large scale: removing left padding on drag-handle in both display modes, adding drag-container right padding on only none and border selection-appearance
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

simplifying the padding-inline-end style for the drag-container since its the same for all scales
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

feat(pagination): add component tokens
  packages/calcite-components/src/components/pagination/pagination.e2e.ts
  packages/calcite-components/src/components/pagination/pagination.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/pagination.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

feat(pagination): fix tokens description
  packages/calcite-components/src/components/pagination/pagination.scss
Due: prettier --write, stylelint --fix

feat(rating): update token descriptions
  packages/calcite-components/src/components/rating/rating.scss
Due: prettier --write, stylelint --fix

docs(accordion-item): update icon token descriptions (#11151)
  packages/calcite-components/src/components/accordion-item/accordion-item.scss
Due: prettier --write, stylelint --fix

bump eslint
  package-lock.json
  package.json
Due: prettier --write

chore: drop outdated/non-applicable lit migration notes
  packages/calcite-components/tsconfig.json
Due: prettier --write

enable recommended custom rules until its config files are flattened
  packages/calcite-components/.storybook/main.ts
  packages/calcite-components/.storybook/preview.ts
  packages/calcite-components/.storybook/utils.ts
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(eslint): migrate to flat config format (#10938)
  .github/scripts/.eslintrc.json
  .github/scripts/.lintstagedrc.js
  .github/scripts/eslint.config.cjs
  .github/scripts/support/utils.js
  .lintstagedrc.js
  .lintstagedrc.json
  package-lock.json
  package.json
  packages/calcite-components-react/.eslintrc.json
  packages/calcite-components-react/eslint.config.mjs
  packages/calcite-components/.eslintrc.cjs
  packages/calcite-components/.storybook/main.ts
  packages/calcite-components/.storybook/preview.ts
  packages/calcite-components/.storybook/utils.ts
  packages/calcite-components/.stylelintrc.cjs
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/package.json
  packages/calcite-components/src/components/carousel/carousel.tsx
  packages/calcite-components/src/components/sheet/readme.md
  packages/calcite-components/src/components/stepper/stepper.e2e.ts
  packages/calcite-design-tokens/.eslintrc.cjs
  packages/calcite-design-tokens/.lintstagedrc.js
  packages/calcite-design-tokens/eslint.config.mjs
  packages/calcite-design-tokens/package.json
  packages/eslint-plugin-calcite-components/.eslintrc.json
  packages/eslint-plugin-calcite-components/eslint.config.mjs
Due: prettier --write, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

chore(linting): enable `eslint-plugin-vitest`
  package-lock.json
  package.json
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/common/input.spec.ts
  packages/calcite-components/src/components/input/common/tests.ts
  packages/calcite-components/src/utils/dom.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

Path conditions:
  prettier --write: ((((any of: *.{json,html,yml}) or (any of: *.scss)) or (any of: packages/**/*.{ts,tsx,mjs,cjs})) or (any of: .github/scripts/*.{m,c,}js)) or (any of: *.md)
  stylelint --fix: any of: *.scss
  eslint --ext .ts,.tsx --fix: any of: packages/**/*.{ts,tsx,mjs,cjs}
  eslint --ext .js: any of: .github/scripts/*.{m,c,}js
  markdownlint --fix: any of: *.md
