Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx,mjs,cjs}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.{m,c,}js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

chore(linting): enable `eslint-plugin-vitest` (#11160)
  package-lock.json
  package.json
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/src/components/dialog/dialog.e2e.ts
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
  packages/calcite-components/src/components/input/common/input.spec.ts
  packages/calcite-components/src/components/input/common/tests.ts
  packages/calcite-components/src/utils/dom.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

update import
  packages/calcite-components/eslint.config.mjs
Due: prettier --write, eslint --ext .ts,.tsx --fix

remove duplicate test
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(linting): clean up warnings
  packages/calcite-components/eslint.config.mjs
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-time-zone): keep selection in sync when item-related props are set along with value
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(rating): update css token names
  packages/calcite-components/src/components/rating/rating.scss
Due: prettier --write, stylelint --fix

fix(input-time-zone): keep selection in sync when item-related props are set along with value (#11166)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.e2e.ts
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(a11y): remove default priority label from a11y issue template
  .github/ISSUE_TEMPLATE/accessibility.yml
Due: prettier --write

only bold highlighted items
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.scss
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.scss
Due: prettier --write, stylelint --fix

cleanup/code reusage for text marking
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.tsx
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/utils/text.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore(a11y): remove default priority label from a11y issue template (#11171)
  .github/ISSUE_TEMPLATE/accessibility.yml
Due: prettier --write

feat(block): add component tokens (#11014)
  packages/calcite-components/src/components/action-bar/action-bar.e2e.ts
  packages/calcite-components/src/components/block/block.e2e.ts
  packages/calcite-components/src/components/block/block.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/block.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

fix mark color text and background
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.scss
Due: prettier --write, stylelint --fix

rename menu-item tokens to menu
  packages/calcite-components/src/components/menu-item/menu-item.e2e.ts
  packages/calcite-components/src/components/menu-item/menu-item.scss
  packages/calcite-components/src/components/menu/menu.e2e.ts
  packages/calcite-components/src/components/menu/menu.scss
  packages/calcite-components/src/custom-theme/menu-item.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/menu-item/menu-item.e2e.ts
  packages/calcite-components/src/custom-theme.stories.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: drop outdated/non-applicable lit migration notes (#11159)
  packages/calcite-components/tsconfig.json
Due: prettier --write

remove group highlighting
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.scss
  packages/calcite-components/src/components/autocomplete-item-group/autocomplete-item-group.tsx
  packages/calcite-components/src/components/autocomplete-item-group/resources.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

simplifying drag-container inline-end padding to use an is selector
  packages/calcite-components/src/components/list-item/list-item.scss
Due: prettier --write, stylelint --fix

fix(list-item): improve drag handle spacing (#11156)
  packages/calcite-components/src/components/list-item/list-item.scss
  packages/calcite-components/src/demos/list.html
Due: prettier --write, stylelint --fix

removing duplicate locale render tests that are now covered by the new looped tests
  packages/calcite-components/src/components/input-time-picker/input-time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

review fixes
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.scss
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/combobox-item/combobox-item.scss
  packages/calcite-components/src/components/combobox-item/combobox-item.tsx
  packages/calcite-components/src/components/combobox-item/resources.ts
  packages/calcite-components/src/utils/text.tsx
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

grouping demo append logic into a single append call
  packages/calcite-components/src/demos/input-time-picker.html
Due: prettier --write

remove class
  packages/calcite-components/src/components/autocomplete-item/resources.ts
  packages/calcite-components/src/components/combobox-item/resources.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

adding @see links where appropriate
  packages/calcite-components/src/utils/locale.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

newlines in between new test it blocks
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

drop filteredResults & do not include groups in filteredItems
  packages/calcite-components/src/components/list-item-group/interfaces.ts
  packages/calcite-components/src/components/list-item/interfaces.ts
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.stories.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactoring to use toEqualText where appropriate
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

converting cldr link references to a generic comment showing how to reference cldr-json time and meridiem formats
  packages/calcite-components/src/components/input-time-picker/input-time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

revert doc update
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

update types
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

handle edge case when visible items are empty
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(select): add component tokens
  packages/calcite-components/src/components/select/select.e2e.ts
  packages/calcite-components/src/components/select/select.scss
  packages/calcite-components/src/custom-theme.stories.ts
  packages/calcite-components/src/custom-theme/select.ts
Due: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix

streamlining getMeridiemOrder test to loop over separate zero and non-zero langs. Also has the added bonus of being able to put the lang code in the test label.
  packages/calcite-components/src/utils/time.spec.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

adding reference comment for preferred hour format in the cldr
  packages/calcite-components/src/demos/_assets/locales.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

adding test comment about the need to keep the secondSuffix assertion for future locale support
  packages/calcite-components/src/components/time-picker/time-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(renovate): enable followTag for @arcgis prereleases
  .renovaterc.json
Due: prettier --write
