Repository Esri/calcite-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --ext .ts,.tsx --fix, eslint --ext .js, markdownlint --fix

.lintstagedrc.json:

{
  "*.{json,html,yml}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "packages/**/*.{ts,tsx,mjs,cjs}": ["eslint --ext .ts,.tsx --fix", "prettier --write"],
  ".github/scripts/*.{m,c,}js": ["eslint --ext .js", "prettier --write"],
  "*.md": ["prettier --write", "markdownlint --fix"]
}

chore: add context to no-changelog commit override
  .github/scripts/omitPrFromChangelog.js
Due: prettier --write, eslint --ext .js

fix(sheet): remove some margin (#11103)
  packages/calcite-components/src/components/sheet/sheet.scss
Due: prettier --write, stylelint --fix

fix(input-time-zone): remove debugging log messages
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

refactor(t9n): drop deprecated and obsolete `useNoForNorwegian` arg (#11085)
  packages/calcite-components/src/controllers/useT9n.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input): correctly apply placeholder styles
  packages/calcite-components/src/components/input/input.scss
Due: prettier --write, stylelint --fix

cleanup
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(input-time-zone): remove debugging log messages (#11106)
  packages/calcite-components/src/components/input-time-zone/input-time-zone.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: add context to no-changelog commit override (#11105)
  .github/scripts/omitPrFromChangelog.js
Due: prettier --write, eslint --ext .js

remove comment
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix form
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

update tests
  packages/calcite-components/src/components/color-picker/color-picker.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fixing bug with macedonian locale where the period at the end of the meridiem was getting replaced with a comma
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

adding comment explaining the fix for mk in more detail
  packages/calcite-components/src/utils/time.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db
  package-lock.json
Due: prettier --write

keeping some localized meridiems from breaking onto 2 lines when width is constrained.
  packages/calcite-components/src/components/time-picker/time-picker.scss
Due: prettier --write, stylelint --fix

fix(list): Don't require `filterEnabled` for `filterPredicate` usage. #6544
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

cleanup test
  packages/calcite-components/src/components/list/list.e2e.ts
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(autocomplete): handle focusing when item is clicked and reset inputValue on form reset (#11099)
  packages/calcite-components/src/components/autocomplete-item/autocomplete-item.tsx
  packages/calcite-components/src/components/autocomplete/autocomplete.e2e.ts
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/demos/validation.html
  packages/calcite-components/src/utils/form.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

build: update browserslist db (#11108)
  package-lock.json
Due: prettier --write

feat: added icons
  packages/calcite-ui-icons/icons/plug-connection-16.svg
  packages/calcite-ui-icons/icons/plug-connection-24.svg
  packages/calcite-ui-icons/icons/plug-connection-32.svg
Due: none

feat: added tags
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

feat: launched ref page
  packages/calcite-ui-icons/icons/plug-connection-16.svg
  packages/calcite-ui-icons/icons/plug-connection-24.svg
  packages/calcite-ui-icons/icons/plug-connection-32.svg
Due: none

include heading in filterProps
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

fix(list): Don't require `filterEnabled` for `filterPredicate` usage (#11109)
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(renovate): stop pinning deps and allow semver ranges
  .renovaterc.json
Due: prettier --write

ci(renovate): stop pinning deps and allow semver ranges
  package-lock.json
  packages/calcite-components/package.json
Due: prettier --write

chore: cleanup
  .renovaterc.json
Due: prettier --write

feat: updated tags
  packages/calcite-ui-icons/docs/keywords.json
Due: prettier --write

feat: add plug connection (#11113)
  packages/calcite-ui-icons/docs/keywords.json
  packages/calcite-ui-icons/icons/plug-connection-16.svg
  packages/calcite-ui-icons/icons/plug-connection-24.svg
  packages/calcite-ui-icons/icons/plug-connection-32.svg
Due: prettier --write

hiding the bulgarian second suffix in time-picker
  packages/calcite-components/src/components/time-picker/time-picker.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

ci(renovate): stop pinning deps and allow semver ranges (#11114)
  .renovaterc.json
  package-lock.json
  packages/calcite-components/package.json
Due: prettier --write

build(deps): change semver range from caret to tilde
  package-lock.json
  packages/calcite-components/package.json
Due: prettier --write

feat(list-item): extend bottom border to include actions-start slot
  packages/calcite-components/src/components/list-item/list-item.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

clean up
  packages/calcite-components/src/components/list/list.e2e.ts
  packages/calcite-components/src/components/list/list.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(table-advanced): add custom slot and storybook screenshots
  packages/calcite-components/src/components/table-advanced/table-advanced.stories.ts
  packages/calcite-components/src/components/table-advanced/table-advanced.tsx
  packages/calcite-components/src/demos/table-advanced.html
Due: prettier --write, eslint --ext .ts,.tsx --fix

feat(autocomplete, input, input-number, input-text): improve types
  packages/calcite-components/src/components/autocomplete/autocomplete.tsx
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix

chore: use caret
  package.json
Due: prettier --write

fix(input, input-text, input-number): restore handling of autofocus global attribute
  packages/calcite-components/src/components/input-number/input-number.tsx
  packages/calcite-components/src/components/input-text/input-text.tsx
  packages/calcite-components/src/components/input/common/tests.ts
  packages/calcite-components/src/components/input/input.tsx
Due: prettier --write, eslint --ext .ts,.tsx --fix
